{% extends "base_two_columns.html" %}

{% block browser_title %}Add a Holding{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; <a href="{% url 'holding_index' portfolio.id %}">{{ portfolio.name }}</a> &rarr; Add a Holding{% endblock breadcrumbs %}

{% block page_title %}<i class="icon-book"></i> Add a Holding{% endblock page_title %}

{% block content %}

<form method="post" action="" class="form-horizontal">
  {% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="stocks">Stock: </label>
    <div class="controls">
      <input id="stock_display" type="text" class="input-xxlarge" placeholder="" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Add holding" />
    </div>
  </div>
  <input type="hidden" id="{{ form.stock.auto_id }}" name="{{ form.stock.html_name }}" value="" />
</form>

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}

{% block script %}
<link href="{{ STATIC_URL }}css/twitter/typeahead.css" rel="stylesheet" type="text/css" media="screen">
<link href="{{ STATIC_URL }}css/twitter/typeahead.js-bootstrap.css" rel="stylesheet" type="text/css" media="screen">
<script type="text/javascript" src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/twitter/typeahead.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#stock_display').typeahead([
            {
                name: 'stocks',
                remote: '/api/markets/stocks2?q=%QUERY',
                limit: 10
            }
        ]);

        $('#stock_display').focus();
    });
</script>
{% endblock script %}