{% extends "base_two_columns.html" %}

{% block title %}Add a Holding{% endblock title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; <a href="{% url 'holding_index' portfolio.id %}">{{ portfolio.name }}</a> &rarr; Add a Holding{% endblock breadcrumbs %}

{% block content %}

<h1>Add a Holding</h1>

<p>&nbsp;</p>

<form method="post" action="" class="form-horizontal">
  {% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="stocks">Stock: </label>
    <div class="controls">
      <input id="stock_display" type="text" class="input-xxlarge" placeholder="examples: BlackBerry:TSX, Microsoft Corp:NASDAQ" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Add holding" />
    </div>
  </div>
  <input type="hidden" id="{{ form.stock.auto_id }}" name="stock" value="" />
  <input type="hidden" id="{{ form.portfolio.auto_id }}" name="portfolio" value="{{ portfolio.id }}" />
</form>

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}

{% block script %}
<script src="{{ STATIC_URL }}js/holdings.js" type="text/javascript"></script>
{% endblock script %}