{% extends "base_two_columns.html" %}

{% block title %}Add Holding{% endblock title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; <a href="{% url 'holding_index' portfolio.id %}">{{ portfolio.name }}</a> &rarr; Add Holding{% endblock breadcrumbs %}

{% block content %}

<h1>Add a Holding</h1>

<form action="">
  {{ form }}
  <input type="submit" class="btn btn-primary" value="Create holding" />
</form>

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}