{% extends "base_two_columns.html" %}
{% load humanize %}

{% block browser_title %}Holdings{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; {{ portfolio.name }}{% endblock breadcrumbs %}

{% block page_title %}Holdings{% endblock page_title %}

{% block content %}
{% if holdings %}
<table class="table table-striped table-striped-white table-hover table-bordered table-clickable">
  <thead>
    <tr>
      <th>Name</th>
      <th class="align-right">Last Price</th>
      <th class="align-right">Position</th>
      <th class="align-right">Book Value<br /><span class="small">Avg Cost</span></th>
      <th class="align-right">Market Value</th>
      <th class="align-right">Net Gain</th>
      <th class="align-right">Portfolio<br />Makeup</th>
    </tr>
  </thead>
  <tbody>
  {% for holding in holdings %}
    <tr>
      <td>
        <a class="large" href="{% url 'transaction_index' portfolio.id holding.id %}">{{ holding.stock_symbol }}:{{ holding.market_code }}</a><br />
        {{ holding.stock_name }}
      </td>
      <td class="align-right"><span class="medium">
        ${{ holding.last_price|floatformat:2|intcomma }}</span><br />
        <span class="small">{{ holding.date_last_price_updated }}</span>
      </td>
      <td class="align-right"><span class="medium">{{ holding.total_quantity|default_if_none:"0.00"|floatformat:5|intcomma }}</span></td>
      <td class="align-right"><span class="medium">
        ${{ holding.book_value|floatformat:2|intcomma }}</span><br />
        <span class="small">${{ holding.avg_cost|default_if_none:"0.00"|floatformat:2|intcomma }}</span>
      </td>
      <td class="align-right"><span class="medium">${{ holding.market_value|floatformat:2|intcomma }}</span></td>
      <td {% if holding.market_value > holding.book_value %}class="align-right indicator-gain"{% elif holding.market_value < holding.book_value %}class="align-right indicator-loss"{% else %}class="align-right"{% endif %}>
        <span class="medium">${{ holding.net_gain_dollar|floatformat:2|intcomma }}</span><br />
        <span class="small">{{ holding.net_gain_percent|floatformat:2|intcomma }}%</span>
      </td>
      <td class="align-right"><span class="medium">{{ holding.portfolio_makeup_percent|floatformat:2 }}%</span></td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
{#    <tr>#}
{#      <td colspan="3">Cash</td>#}
{#      <td class="align-right">$100.32</td>#}
{#      <td>&nbsp;</td>#}
{#      <td class="align-right">$100.32</td>#}
{#      <td class="align-right">3.00%</td>#}
{#    </tr>#}
    <tr class="total">
      <th colspan="3"><strong>Total</strong></th>
      <th class="align-right"><strong>${{ holding_summary.total_book_value|floatformat:2|intcomma }}</strong></th>
      <th class="align-right"><strong>${{ holding_summary.total_market_value|floatformat:2|intcomma }}</strong></th>
      <th class="align-right"><strong>${{ holding_summary.total_net_gain_dollar|floatformat:2|intcomma }}</strong></th>
      <th class="align-right">100%</th>
    </tr>
  </tfoot>
</table>
{% else %}
<p>You currently have no holdings in this portfolio - <a href="{% url 'holding_create' portfolio.id %}">go ahead and add some now!</a></p>
{% endif %}

<p>&nbsp;</p>

{% if holdings %}
<pre>
var chart =
</pre>
{% endif %}
{% endblock content %}

{% block sidebar %}
<div class="widget widget-simple">
  <div class="widget-header">
    <h3>Header</h3>
  </div>
  <div class="widget-body">
    <div id="holdings-chart" style="width: 275px; height: 275px;"></div>
  </div>
</div>
{% endblock sidebar %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.pie.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $('table.table-clickable tbody tr').click(function() {
          var href = $(this).find("a").attr("href");
          if(href) {
              window.location = href;
          }
      });
  });

    var data = {{ holding_chart|safe }};

{#		var data = [#}
{#			{'label': 'BNS:TSX',  'data': 3.08},#}
{#			{'label': 'BB:TSX', 'data': 12.34},#}
{#		  {'label': 'RY:TSX', 'data': 80.67},#}
{#			{'label': 'YHOO:NASDAQ', 'data': 3.91}#}
{#		];#}

    $.plot('#holdings-chart', data, {
        series: {
            pie: {
                show: true,
                innerRadius: 0.4,
                radius: 1,
                stroke: {
								    color: '#fff',
										width: 2
                },
                grow: {
                    active: false
                },
                startAngle: 2,
                combine: {
										color: '#353535',
										threshold: 0.04
								},
                label: {
                    show: true,
                    radius: 3/4,
                    formatter: function (label, series) {
										    return '<div class="label label-inverse" style="border-radius: 5px;">' + label + '&nbsp;' + Math.round(series.percent*10)/10 + '%</div>';
                    },
                    background: {
                        opacity: 0.5,
                       color: '#000'
                    }
                }
            }
        },
        grid: {
            hoverable: true,
            clickable: true
        },
        colors: [ "#3A703A", "#4E954E", "#61ba61", "#81C881", "#A0D6A0", "#C0E3C0"],
        legend: {
            show: false
        }
    });

{#   [ "#5f4e1a", "#8e7426", "#be9b33", "#edc240", "#f1ce66", "#f4da8c", "#f8e7b3"] , GREENS#}
</script>
{% endblock script %}