{% extends "base_two_columns.html" %}
{% load humanize %}

{% block browser_title %}Holdings{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; {{ portfolio.name }}{% endblock breadcrumbs %}

{% block page_title %}<i class="icon-book"></i> Holdings <small><a href="{% url "holding_create" portfolio.id %}">add</a></small>{% endblock page_title %}

{% block content %}
{% if holdings %}
<table class="table table-striped table-striped-white table-hover table-bordered table-clickable">
  <thead>
    <tr>
      <th>Name</th>
      <th class="align-right">Last Price</th>
      <th class="align-right">Position</th>
      <th class="align-right">Book Value<br /><span class="small">Avg Cost</span></th>
      <th class="align-right">Market Value</th>
      <th class="align-right">Net Gain</th>
      <th class="align-right">Portfolio<br />Makeup</th>
    </tr>
  </thead>
  <tbody>
  {% for holding in holdings %}
    <tr>
      <td>
        <a class="large" href="{% url 'transaction_index' portfolio.id holding.id %}">{{ holding.stock_symbol }}:{{ holding.market_code }}</a><br />
        {{ holding.stock_name }}
      </td>
      <td class="align-right"><span class="medium">
        ${{ holding.last_price|floatformat:2|intcomma }}</span><br />
        <span class="small">{{ holding.date_last_price_updated }}</span>
      </td>
      <td class="align-right"><span class="medium">{{ holding.total_quantity|default_if_none:"0.00"|floatformat:5|intcomma }}</span></td>
      <td class="align-right"><span class="medium">
        ${{ holding.book_value|floatformat:2|intcomma }}</span><br />
        <span class="small">${{ holding.avg_cost|default_if_none:"0.00"|floatformat:2|intcomma }}</span>
      </td>
      <td class="align-right"><span class="medium">${{ holding.market_value|floatformat:2|intcomma }}</span></td>
      <td {% if holding.market_value > holding.book_value %}class="align-right indicator-gain"{% elif holding.market_value < holding.book_value %}class="align-right indicator-loss"{% else %}class="align-right"{% endif %}>
        <span class="medium">${{ holding.net_gain_dollar|floatformat:2|intcomma }}</span><br />
        <span class="small">{{ holding.net_gain_percent|floatformat:2|intcomma }}%</span>
      </td>
      <td class="align-right"><span class="medium">{{ holding.portfolio_makeup_percent|floatformat:2 }}%</span></td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
{#    <tr>#}
{#      <td colspan="3">Cash</td>#}
{#      <td class="align-right">$100.32</td>#}
{#      <td>&nbsp;</td>#}
{#      <td class="align-right">$100.32</td>#}
{#      <td class="align-right">3.00%</td>#}
{#    </tr>#}
    <tr class="total">
      <th colspan="3"><strong>Total</strong></th>
      <th class="align-right"><strong>${{ holding_summary.total_book_value|floatformat:2|intcomma }}</strong></th>
      <th class="align-right"><strong>${{ holding_summary.total_market_value|floatformat:2|intcomma }}</strong></th>
      <th class="align-right"><strong>${{ holding_summary.total_net_gain_dollar|floatformat:2|intcomma }}</strong></th>
      <th class="align-right">100%</th>
    </tr>
  </tfoot>
</table>
{% else %}
<p>You currently have no holdings in this portfolio - <a href="{% url 'holding_create' portfolio.id %}">go ahead and add some now!</a></p>
{% endif %}

{% endblock content %}

{% block sidebar %}
<div class="widget widget-simple">
  <div class="widget-header">
    <h3>Portfolio Makeup</h3>
  </div>
  <div class="widget-body">
    <div id="holdings-chart" style="height: 260px;"></div>
  </div>
</div>
{% endblock sidebar %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $('table.table-clickable tbody tr').click(function() {
            var href = $(this).find("a").attr("href");
            if(href) {
                window.location = href;
            }
        });
    });
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts/highcharts.js"></script>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        Highcharts.theme = {
            colors: [ "#3A703A", "#4E954E", "#61ba61", "#81C881", "#A0D6A0", "#C0E3C0"],
            chart: {
                backgroundColor: 'rgba(255, 255, 255, 0.1)',
                borderWidth: 0,
                plotBackgroundColor: 'rgba(255, 255, 255, .9)',
                plotShadow: true,
                plotBorderWidth: 1
            }
        };

        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });

        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'holdings-chart',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                margin: [0, 0, 0, 0],
                spacingTop: 0,
                spacingBottom: 0,
                spacingLeft: 0,
                spacingRight: 0
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            tooltip: {
                formatter: function() {
                  return '<b>'+ this.point.name +':</b> '+ Math.round(this.percentage*10)/10 +'%';
                }
            },
            plotOptions: {
                pie: {
                    size:'95%',
                    allowPointSelect: true,
                    cursor: 'pointer',
                    borderWidth: 2,
                    innerSize: '35%',
                    dataLabels: {
                        align: 'right',
                        x: 0,
                        y: 0,
                        enabled: true,
                        distance: -30,
                        color: '#ffffff',
                        backgroundColor: 'rgba(30, 30, 30, .9)',
                        borderRadius: 3,
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +':</b> '+ Math.round(this.percentage*10)/10 +'%';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Holding share',
                data: {{ holding_chart|safe }},
                startAngle: 90
            }]
        });
    });

});

</script>
{% endblock script %}