{% extends "base_two_columns.html" %}
{% load humanize %}

{% block title %}Holdings{% endblock title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; {{ portfolio.name }}{% endblock breadcrumbs %}

{% block content %}

<h1>Holdings</h1>

{% if holdings %}
<table class="table">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Book Value</th>
    <th>Market Value</th>
    <th>Gain/Loss ($)</th>
    <th>Gain/Loss (%)</th>
    <th>Portion of Account</th>
  </tr>
  {% for holding in holdings %}
  <tr>
    <td><a href="{% url 'transaction_index' portfolio.id holding.id %}">{{ holding.name }} ({{ holding.market }}:{{ holding.symbol }})</a></td>
    <td class="align-right">{{ holding.total_quantity|default_if_none:"0.00"|intcomma }}</td>
    <td class="align-right">${{ holding.total_price|default_if_none:"0.00"|floatformat:2|intcomma }}</td>
    <td class="align-right">${{ holding.book_value|floatformat:2|intcomma }}</td>
    <td class="align-right">$1000.00</td>
    <td class="align-right">1.23</td>
    <td class="align-right">$100.00</td>
    <td class="align-right">$1000.00</td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="5">Cash</td>
    <td class="align-right">$100.32</td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><strong>Total</strong></td>
    <td class="align-right"><strong>$3456.33</strong></td>
    <td colspan="3">&nbsp;</td>
  </tr>
</table>
{% else %}
<p>You currently have no holdings in this portfolio - <a href="{% url 'holding_create' portfolio.id %}">go ahead and add some now!</a></p>
{% endif %}

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}