{% extends 'base_app_one_column.html' %}

{% load endless %}
{% load humanize %}

{% block browser_title %}Activity{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Dashboard</a> &rarr; Activity</a>{% endblock breadcrumbs %}

{% block page_title %}<i class="icon-list"></i> Activity{% endblock page_title %}

{% block helper_message %}{% endblock helper_message %}

{% block content %}

  <div id="paginate" class="endless_page_template">
    {% include page_template %}
  </div>

{% endblock content %}

{% block script %}
  {% include "common/list_pagination_script.html" %}
{% endblock script %}