{% extends base_template %}

{% load humanize %}

{% block browser_title %}Home{% endblock browser_title %}

{% block page_title %}
{% if user.is_authenticated %}
  <i class="icon-dashboard"></i> Dashboard
{% else %}
  Howdy
{% endif %}
{% endblock page_title %}

{% block content %}

{% if user.is_authenticated %}  {# authenticated dashboard #}

  <div class="widget widget-simple">
    <div class="widget-header">
      <h3>Latest Activity</h3>
    </div>
    <div class="widget-body">
      <div id="holdings-chart" style="height: 260px;"></div>
    </div>
  </div>

  <div class="widget widget-simple">
    <div class="widget-header">
      <h3>News</h3>
    </div>
    <div class="widget-body">
      <div id="holdings-chart" style="height: 260px;"></div>
    </div>
  </div>

{% else %}  {# unauthenticated home page #}

  <h1>PortfolioApp</h1>
  <h2>The easy to use, (semi)full featured portfolio tracker</h2>
  <br />
  <div class="row">
    <div class="span7">
      <img src="{{ STATIC_URL }}img/portfolioapp-homepage-view-461x400.png">
    </div>
    <div class="span9">
      <div class="hero-unit">
        <h3>Attempting to solve the following problems</h3>
        <h4>Bloomberg</h4>
        <ul>
          <li>Does not carry website profile over to Android app</li>
          <li>Does not handle reinvestments (to cash or dividends)</li>
          <li>Difficult to add new or modify existing multiple transactions to a new or existing holding</li>
        </ul>
        <h4>Yahoo Finance</h4>
        <ul>
          <li>Does not handle reinvestments (to cash or dividends)</li>
        </ul>
        <h4>Google Finance</h4>
        <ul>
          <li>While Google Finance allows reinvestments to cash, it does not allow reinvestments back to shares</li>
          <li>While powerful, the Google Finance web interface is kludgy and confusing</li>
          <li>Android app does not allow stocks to be selected from TSX, nor does it allow your Google Finance profile to show TSX stocks you've already selected on the web</li>
        </ul>
      </div>
    </div>
  </div>

<br />
<br />
<br />
<br />

{% endif %}

{% endblock content %}

{% block sidebar %}

{% if user.is_authenticated %}  {# authenticated dashboard #}

  <div class="widget widget-stats">
    <div class="widget-header">
      <h4><i class="icon-folder-open-alt"></i> Portfolios</h4>
    </div>
    <div class="widget-body">
      {% if portfolios %}
        {% for portfolio in portfolios %}
          <div class="item-row">
            <div class="item-label">
              {{ portfolio.name }}
            </div>
            <div class="item-value">
              {% if portfolio.market_value > portfolio.book_value %}
                <span class="indicator-gain">
              {% elif portfolio.market_value < portfolio.book_value %}
                <span class="indicator-loss">
              {% else %}
                <span>
              {% endif %}
              ${{ portfolio.market_value|floatformat:2|intcomma }}</span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="item-row">
          <div class="item-label">
            <span style="font-weight: normal">No portfolios found, <a href="{% url 'portfolios_index' %}">create one now!</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="widget widget-activity">
    <div class="widget-header">
      <h4>Recent Activity</h4>
    </div>
    <div class="widget-body">
      {% if recent_activity %}
        {% for activity in recent_activity %}
          {% if activity.type == 5 %}  {# shares purchased #}
            <div class="item-row">
              <div class="item-label">
                On <a href="{% url 'activity_index' %}">{{ activity.date_transacted|date:"F j, Y" }}</a>, {{ activity.quantity|floatformat:2 }} share{{ activity.quantity|pluralize }} of <a href="{% url 'markets_stocks_show' activity.stock_id %}">{{ activity.stock.name }} ({{ activity.stock.symbol }}:{{ activity.stock.market.acr }})</a> was purchased for ${{ activity.value|floatformat:2 }} each under <a href="{% url 'portfolio_holdings_index' activity.portfolio_id %}">{{ activity.portfolio.name }}</a>
              </div>
            </div>
          {% elif activity.type == 6 %}  {# shares sold #}
            <div class="item-row">
              <div class="item-label">
                On <a href="{% url 'activity_index' %}">{{ activity.date_transacted|date:"F j, Y" }}</a>, {{ activity.quantity|floatformat:2 }} share{{ activity.quantity|pluralize }} of <a href="{% url 'markets_stocks_show' activity.stock_id %}">{{ activity.stock.name }} ({{ activity.stock.symbol }}:{{ activity.stock.market.acr }})</a> was sold for ${{ activity.value|floatformat:2 }} each from <a href="{% url 'portfolio_holdings_index' activity.portfolio_id %}">{{ activity.portfolio.name }}</a>
              </div>
            </div>
          {% elif activity.type == 0 %}  {# shares in #}
            <div class="item-row">
              <div class="item-label">
                On <a href="{% url 'activity_index' %}">{{ activity.date_transacted|date:"F j, Y" }}</a>, {{ activity.quantity|floatformat:2 }} share{{ activity.quantity|pluralize }} of <a href="{% url 'markets_stocks_show' activity.stock_id %}">{{ activity.stock.name }} ({{ activity.stock.symbol }}:{{ activity.stock.market.acr }})</a> was added to <a href="{% url 'portfolio_holdings_index' activity.portfolio_id %}">{{ activity.portfolio.name }}</a>
              </div>
            </div>
          {% elif activity.type == 1 %}  {# shares out #}
            <div class="item-row">
              <div class="item-label">
                On <a href="{% url 'activity_index' %}">{{ activity.date_transacted|date:"F j, Y" }}</a>, {{ activity.quantity|floatformat:2 }} share{{ activity.quantity|pluralize }} of <a href="{% url 'markets_stocks_show' activity.stock_id %}">{{ activity.stock.name }} ({{ activity.stock.symbol }}:{{ activity.stock.market.acr }})</a> was removed from <a href="{% url 'portfolio_holdings_index' activity.portfolio_id %}">{{ activity.portfolio.name }}</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="item-row">
          <div class="item-label">
            No recent activity
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endif %}

{% endblock sidebar %}