{% extends "base_dashboard.html" %}

{% block browser_title %}Home{% endblock browser_title %}

{% if user.is_authenticated %}
{% block page_title %}<i class="icon-dashboard"></i> Dashboard <small>Subtitle</small>{% endblock page_title %}
{% endif %}

{% block content %}

{% if user.is_authenticated %}
<h2>Title <small>Subtitle</small></h2>
<p>This is a paragraph of helper text.</p>
<p>This is my overview content</p>
{% else %}
<h1>PortfolioApp</h1>
<h2>The easy to use, (semi)full featured portfolio tracker</h2>
{% endif %}

{% endblock content %}