{% load endless %}
{% load humanize %}

<table class="table table-striped table-striped-white table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th style="width: 12%">Date</th>
      <th style="width: 12%">Type</th>
      <th style="width: 12%" class="align-right">Quantity</th>
      <th style="width: 12%" class="align-right">Price</th>
      <th style="width: 12%" class="align-right">Commission</th>
      <th style="width: 60%">Comment</th>
    </tr>
  </thead>
  {% if transactions %}
  <tbody>
  {% paginate results_per_page transactions %}
  {% for transaction in transactions %}
  <tr>
    <td>{{ transaction.date_transacted|date:"m/d/Y" }}</td>
    <td>{{ transaction.get_type_display }}</td>
    <td class="align-right">{{ transaction.quantity }}</td>
    <td class="align-right">${{ transaction.value|floatformat:2 }}</td>
    <td class="align-right">${{ transaction.commission|floatformat:2 }}</td>
    <td>{{ transaction.comment|default_if_none:"" }}</td>
  </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr class="footer">
      <td colspan="6">
        {% include "common/list_pagination.html" %}
      </td>
    </tr>
  </tfoot>
</table>
  {% else %}
</table>
<p>You have not made any transactions.</p>
  {% endif %}
