{% extends "base_two_columns.html" %}
{% load endless %}

{% block browser_title %}Transactions{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Dashboard</a> &rarr; Transactions</a>{% endblock breadcrumbs %}

{% block page_title %}<i class="icon-list"></i> Transactions{% endblock page_title %}

{% block content %}

<div id="paginate" class="endless_page_template">
  {% include page_template %}
</div>

{% endblock content %}

{% block sidebar %}
<div class="widget widget-simple">
  <div class="widget-header">
    <h4>Optional title of widget <small>subtitle</small></h4>
  </div>
  <div class="widget-body">
    <p class="lead">This is a subtitle of the widget</p>
    <p>Lorem ipsum dolor sit amet consectetuer pede tempor ligula sem tempus. A nascetur gravida parturient est Aenean facilisis In est consectetuer Nam. Adipiscing odio tincidunt ac ornare pellentesque metus diam laoreet sollicitudin vel.</p>
  </div>
</div>

{% endblock sidebar %}

{% block script %}
{% include "common/list_pagination_script.html" %}
{% endblock script %}