{% extends "base_two_columns.html" %}

{% block browser_title %}Transactions{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; <a href="{% url 'holding_index' holding.portfolio.id %}">{{ holding.portfolio.name }}</a> &rarr; {{ holding.full_name }}{% endblock breadcrumbs %}

{% block page_title %}Transactions{% endblock page_title %}

{% block content %}

<div id="paginate" class="endless_page_template">
  {% include page_template %}
</div>

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}

{% block script %}
  {% include "common/list_pagination_script.html" %}
{% endblock script %}