{% extends "base_two_columns.html" %}

{% block title %}Transactions{% endblock title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; <a href="{% url 'holding_index' portfolio.id %}">{{ portfolio.name }}</a> &rarr; {{ holding.name }} ({{ holding.market }}:{{ holding.symbol }}){% endblock breadcrumbs %}

{% block content %}

<h1>Transactions <span class="link-add">( <a href="#">add</a> )</span></h1>

{% if transactions %}
<table class="table">
  <tr>
    <th>Type</th>
    <th>Date</th>
    <th>Quantity</th>
    <th>Amount</th>
    <th>Commission</th>
    <th>Comment</th>
  </tr>
  {% for transaction in transactions %}
  <tr>
    <td>{{ transaction.get_type_display }}</td>
    <td>{{ transaction.date_transacted|date:"m/d/Y" }}</td>
    <td class="align-right">{{ transaction.quantity }}</td>
    <td class="align-right">${{ transaction.price|floatformat:2 }}</td>
    <td class="align-right">${{ transaction.commission|floatformat:2 }}</td>
    <td>{{ transaction.comment|default_if_none:"" }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You currently have no transactions for this holding - <a href="#">go ahead and add some now!</a></p>
{% endif %}

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}