{% extends "base_two_columns.html" %}
{% load endless %}

{% block title %}Transactions{% endblock title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; Transactions</a>{% endblock breadcrumbs %}

{% block content %}

<h1>Transactions</h1>

<div id="paginate" class="endless_page_template">
  {% include page_template %}
</div>

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}

{% block script %}
  {% include "common/list_pagination_script.html" %}
{% endblock script %}