{% extends "base_two_columns.html" %}

{% block browser_title %}Add a Portfolio{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; Add a Portfolio{% endblock breadcrumbs %}

{% block page_title %}Add a Portfolio{% endblock page_title %}

{% block content %}

<form method="post" action="" class="form-horizontal">
  {% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="{{ form.name.auto_id }}">Name: </label>
    <div class="controls">
      <input id="{{ form.name.auto_id }}" name="{{ form.name.html_name }}" type="text" class="input-xxlarge" placeholder="" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Add portfolio" />
      <button type="submit" class="btn" name="cancel">Cancel</button>
    </div>
  </div>
</form>

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_name').focus();
    });
</script>
{% endblock script %}