{% extends "base_two_columns.html" %}
{% load humanize %}

{% block browser_title %}Portfolios{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; Portfolios{% endblock breadcrumbs %}

{% block page_title %}<i class="icon-folder-open-alt"></i> Portfolios <small><a href="#modalCreate" role="button" data-toggle="modal">add</a> </small>{% endblock page_title %}

{% block content %}

{% if portfolios %}
<table class="table table-striped table-striped-white table-hover table-condensed table-bordered table-clickable table-options">
  <thead>
    <tr>
      <th style="width: 59%;">Name</th>
      <th class="align-right" style="width: 12%;">Book Value</th>
      <th class="align-right" style="width: 12%;">Market Value</th>
      <th class="align-right" style="width: 12%;">Net Gain</th>
      <th style="width: 5%">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for portfolio in portfolios %}
    <tr>
      <td><a class="large" href="{% url 'holding_index' portfolio.id %}">{{ portfolio.name }}</a></td>
      <td class="align-right"><span class="medium">${{ portfolio.book_value|floatformat:2|intcomma }}</span></td>
      <td class="align-right"><span class="medium">${{ portfolio.market_value|floatformat:2|intcomma }}</span></td>
      <td {% if portfolio.market_value > portfolio.book_value %}class="align-right indicator-gain"{% elif portfolio.market_value < portfolio.book_value %}class="align-right indicator-loss"{% else %}class="align-right"{% endif %}><span class="medium">${{ portfolio.net_gain_dollar|floatformat:2|intcomma }}</span><br /><span class="small">{{ portfolio.net_gain_percent|floatformat:2|intcomma }}%</span></td>
      <td class="row-options">
        <a href="#"><i class="icon-cog"></i></a>
        <div class="table-context-menu">
          <ul>
            <li><a href="#" class="modalDelete" data-id="{{ portfolio.id }}" data-name="{{ portfolio.name }}">Delete portfolio</a></li>
          </ul>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr class="total">
      <th>Total</th>
      <th class="align-right"><strong>${{ portfolio_summary.total_book_value|floatformat:2|intcomma }}</strong></th>
      <th class="align-right"><strong>${{ portfolio_summary.total_market_value|floatformat:2|intcomma }}</strong></th>
      <th {% if portfolio_summary.total_net_gain_dollar > 0 %}class="align-right indicator-gain"{% elif portfolio_summary.total_net_gain_dollar < 0 %}class="align-right indicator-loss"{% else %}class="align-right"{% endif %}><strong>${{ portfolio_summary.total_net_gain_dollar|floatformat:2|intcomma }}</strong></th>
      <th>&nbsp;</th>
    </tr>
  </tfoot>
</table>
{% else %}
<p>No portfolios have been created yet</p>
{% endif %}

<div id="modalCreate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createPortfolioModalLabel" aria-hidden="true">
  <form method="post" action="{% url 'portfolio_create' %}">
    {% csrf_token %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="createPortfolioModalLabel">Add Portfolio</h3>
    </div>
    <div class="modal-body">
      <label class="control-label" for="{{ form.name.auto_id }}">Name: </label>
      <div class="controls">
        <input id="{{ form.name.auto_id }}" name="{{ form.name.html_name }}" type="text" class="input-xlarge" placeholder="" />
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" value="Add portfolio" />
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </form>
</div>

<div id="modalDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="deleteModalLabel">Delete Portfolio</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete your portfolio named <b><span id="portfolio_name"></span></b>?  This action cannot be undone.</p>
    <input type="hidden" id="portfolio_id" name="portfolio_id" value="">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" id="modalDeleteButton">Delete portfolio</a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

{% endblock content %}

{% block sidebar %}
<div class="widget widget-stats">
  <div class="widget-header">
    <h4><i class="icon-info-sign"></i> Info</h4>
  </div>
  <div class="widget-body">
    <div class="stats-row">
      <div class="stats-label">
        <i class="icon-folder-open-alt"></i> Portfolios
      </div>
      <div class="stats-value">
        {{ portfolios|length }}
      </div>
    </div>
  </div>
</div>

<div class="widget widget-stats">
  <div class="widget-header">
    <h4><i class="icon-globe"></i> World Markets</h4>
  </div>
  <div class="widget-body">
    <table>
      <tr>
        <td>Shanghai</td>
        <td>2,345.34</td>
        <td>+32.12 (1.39%)</td>
      </tr>
      <tr>
        <td>Nikkei</td>
        <td>11,511.81</td>
        <td>+257.84 (2.29%)</td>
      </tr>
      <tr>
        <td>Hang Seng Index	</td>
        <td>22,854.79</td>
        <td>+277.78 (1.23%)</td>
      </tr>
      <tr>
        <td>TSEC</td>
        <td>7,897.98</td>
        <td>+17.08 (0.22%)</td>
      </tr>
      <tr>
        <td>FTSE 100</td>
        <td>6,325.88</td>
        <td>+55.44 (0.88%)</td>
      </tr>
      <tr>
        <td>EURO STOXX 50</td>
        <td>2,611.89</td>
        <td>+41.37 (1.61%)</td>
      </tr>
      <tr>
        <td>CAC 40</td>
        <td>3,691.49</td>
        <td>+69.57 (1.92%)</td>
      </tr>
      <tr>
        <td>S&P TSX</td>
        <td>12,732.39</td>
        <td>+71.95 (0.57%)</td>
      </tr>
      <tr>
        <td>S&P/ASX 200</td>
        <td>5,104.10</td>
        <td>+67.50 (1.34%)</td>
      </tr>
    </table>
  </div>
</div>
{% endblock sidebar %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/portfolios.js"></script>
{% endblock script %}