{% extends "base_app_two_columns.html" %}

{% block browser_title %}Edit User{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url "admin_home_index" %}">Admin</a> &rarr; <a href="{% url "admin_profile_index" %}">Users</a> &rarr; Edit User{% endblock breadcrumbs %}

{% block page_title %}<i class="icon-user"></i> Edit User{% endblock page_title %}

{% block content %}

{% if form.errors %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Whoops!</strong> There were some errors on the page that occurred while saving.
</div>
{% endif %}

<div class="widget widget-simple">
  <div class="widget-header">
    <h4><i class="icon-user"></i> Form example</h4>
  </div>
  <div class="widget-body">
    <form method="post" action="" class="form-horizontal">
      {% csrf_token %}
      <fieldset>
        <ul class="dotted">
          <li class="control-group">
            <label class="control-label" for="{{ form.email.auto_id }}">Email</label>
            <div class="controls">
              <input type="text" id="{{ form.email.auto_id }}" name="{{ form.email.html_name }}" value="{{ form.email.value }}" placeholder="email" class="input-xlarge">
            </div>
          </li>
          <li class="control-group">
            &nbsp;
          </li>
          <li class="control-group">
            <label class="control-label" for="{{ form.first_name.auto_id }}">First Name</label>
            <div class="controls">
              <input type="text" id="{{ form.first_name.auto_id }}" name="{{ form.first_name.html_name }}" value="{{ form.first_name.value }}" placeholder="first name" class="input-xlarge">
            </div>
          </li>
          <li class="control-group">
            <label class="control-label" for="{{ form.last_name.auto_id }}">Last Name</label>
            <div class="controls">
              <input type="text" id="{{ form.last_name.auto_id }}" name="{{ form.last_name.html_name }}" value="{{ form.last_name.value }}" placeholder="last name" class="input-xlarge">
            </div>
          </li>
          <li class="control-group">
            <label class="control-label" for="{{ form.is_active.auto_id }}">Active</label>
            <div class="controls">
              {{ form.is_active }}
            </div>
          </li>
          <li class="control-group">
            <label class="control-label" for="{{ form.is_active.auto_id }}">Admin</label>
            <div class="controls">
              {{ form.is_admin }}
            </div>
          </li>
          <li class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-success">Save profile</button>
              <button type="submit" class="btn" name="cancel">Cancel</button>
            </div>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
</div>

{% endblock content %}

{% block sidebar %}
<div class="widget widget-stats">
  <div class="widget-header">
    <h4><i class="icon-bar-chart"></i> Activity</h4>
  </div>
  <div class="widget-body">
    <div class="stats-row">
      <div class="stats-label">
        <i class="icon-plus-sign"></i> Sign up
      </div>
      <div class="stats-value">
        {{ user.date_created|date:"n/j/Y g:i a" }}
      </div>
    </div>
    <div class="stats-row">
      <div class="stats-label">
        <i class="icon-signin"></i> Last sign in
      </div>
      <div class="stats-value">
        {{ user.last_login|date:"n/j/Y g:i a" }}
      </div>
    </div>
  </div>
</div>

<div class="widget widget-stats">
  <div class="widget-header">
    <h4><i class="icon-wrench"></i> Tools</h4>
  </div>
  <div class="widget-body">
    <div class="stats-row">
      <div class="stats-label">
        <a href="#">Send forgot password</a>
      </div>
    </div>
  </div>
</div>
{% endblock sidebar %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_email').focus();
    });
</script>
{% endblock script %}