{% extends "base_app_two_columns.html" %}
{% load endless %}

{% block browser_title %}Edit Stock - Admin{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Dashboard</a> &rarr; <a href="{% url 'admin_home_index' %}">Admin</a> &rarr; <a href="{% url "admin_stock_index" %}">Stocks</a> &rarr; {{ stock.name }}{% endblock breadcrumbs %}

{% block page_title %}Edit Stock{% endblock page_title %}

{% block content %}

<div class="widget widget-simple">
  <div class="widget-header">
    Header
  </div>
  <div class="widget-body">
    <form method="post" action="" class="form-horizontal">
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label" for="{{ form.name.auto_id }}">Name</label>
        <div class="controls">
          <input type="text" id="{{ form.name.auto_id }}" name="{{ form.name.html_name }}" value="{{ form.name.value }}" placeholder="name" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="{{ form.symbol.auto_id }}">Symbol</label>
        <div class="controls">
          <input type="text" id="{{ form.symbol.auto_id }}" name="{{ form.symbol.html_name }}" value="{{ form.symbol.value }}" placeholder="symbol" class="input-medium">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="{{ form.last_price.auto_id }}">Last Price</label>
        <div class="controls">
          <input type="text" id="{{ form.last_price.auto_id }}" name="{{ form.last_price.html_name }}" value="{{ form.last_price.value }}" placeholder="last price" class="input-small">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="{{ form.date_last_price_updated.auto_id }}">Date Last Price Updated</label>
        <div class="controls">
          <input type="text" id="{{ form.date_last_price_updated.auto_id }}" name="{{ form.date_last_price_updated.html_name }}" value="{{ form.date_last_price_updated.value }}" placeholder="date last price updated" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="{{ form.pe.auto_id }}">PE</label>
        <div class="controls">
          <input type="text" id="{{ form.pe.auto_id }}" name="{{ form.pe.html_name }}" value="{{ form.pe.value }}" placeholder="pe" class="input-small">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="{{ form.eps.auto_id }}">EPS</label>
        <div class="controls">
          <input type="text" id="{{ form.eps.auto_id }}" name="{{ form.eps.html_name }}" value="{{ form.eps.value }}" placeholder="eps" class="input-small">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="{{ form.outstanding_shares.auto_id }}">Shares Outstanding:</label>
        <div class="controls">
          <input type="text" id="{{ form.outstanding_shares.auto_id }}" name="{{ form.outstanding_shares.html_name }}" value="{{ form.outstanding_shares.value }}" placeholder="shares outstanding" class="input-medium">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Save stock</button>
          <button type="submit" class="btn" name="cancel">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}