{% extends "base_two_columns.html" %}
{% load endless %}

{% block title %}Stocks - Admin{% endblock title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url "admin_home_index" %}">Admin</a> &rarr; Stocks{% endblock breadcrumbs %}

{% block page_title %}Stocks{% endblock page_title %}

{% block content %}

<div id="paginate" class="endless_page_template">
  {% include page_template %}
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock content %}

{% block script %}
  {% include "common/list_pagination_script.html" %}
{% endblock script %}