{% load endless %}

<table class="table table-striped table-striped-white table-hover table-bordered table-condensed">
  <thead>
    <tr>
      <th style="width: 70%">Name</th>
      <th style="width: 10%">Symbol</th>
      <th style="width: 10%">Market</th>
      <th style="width: 10%" class="align-right">Last Price</th>
    </tr>
  </thead>
  <tbody>
    {% paginate results_per_page stocks %}
    {% for stock in stocks %}
    <tr>
      <td><a href="{% url "admin_stock_edit" stock.id %}">{{ stock.name }}</a></td>
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.market.acr }}</td>
      <td class="align-right">${{ stock.last_price|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr class="footer">
      <th colspan="4">
        {% include "common/list_pagination.html" %}
      </th>
    </tr>
  </tfoot>
</table>
