{% extends "base_two_columns.html" %}
{% load endless %}

{% block title %}Stocks - Admin{% endblock title %}

{% block content %}
{% if stocks %}
{% paginate stocks %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Market</th>
    </tr>
  </thead>
  <tbody>
  {% for stock in stocks %}
    <tr>
      <td>{{ stock.name }}</td>
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.market.acr }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% show_pages %}
{% endif %}
{% endblock content %}