{% extends "base_two_columns.html" %}

{% block title %}Stocks3 - Admin{% endblock title %}

{% block content %}

<h1>Stocks</h1>
<p>&nbsp;</p>

{#{% if stocks %}#}
{#<table class="table">#}
{#  <thead>#}
{#    <tr>#}
{#      <th>Name</th>#}
{#      <th>Symbol</th>#}
{#      <th>Market</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#  {% for stock in stocks %}#}
{#    <tr>#}
{#      <td>{{ stock.name }}</td>#}
{#      <td>{{ stock.symbol }}</td>#}
{#      <td>{{ stock.market.acr }}</td>#}
{#    </tr>#}
{#  {% endfor %}#}
{#  </tbody>#}
{#</table>#}
{#{% endif %}#}
<div id="pagination">
  {% include "admin/markets/stocks/pagination_page.html" %}
</div>

{% endblock content %}