{% extends "base_app_two_columns.html" %}
{% load endless %}

{% block browser_title %}Stocks - Admin{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url "admin_home_index" %}">Admin</a> &rarr; Stocks{% endblock breadcrumbs %}

{% block page_title %}Stocks{% endblock page_title %}

{% block content %}

<form method="post" action="">
  {% csrf_token %}
  {{ search_form.as_p }}
  <input type="submit" value="Search" class="btn">
</form>

<div id="paginate" class="endless_page_template">
  {% include page_template %}
</div>

{% endblock content %}

{% block script %}
  {% include "common/list_pagination_script.html" %}
{% endblock script %}