{% extends "base_two_columns.html" %}

{% block title %}Stocks - Admin{% endblock title %}

{% block content %}

<h1>Stocks</h1>

{% if stocks %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Market</th>
    </tr>
  </thead>
  <tbody>
  {% for stock in stocks %}
    <tr>
      <td>{{ stock.name }}</td>
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.market.acr }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    {% if stocks.has_previous %}
      <a href="?page={{ stocks.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current">
      Page {{ stocks.number }} of {{ stocks.paginator.num_pages }}.
    </span>
    {% if stocks.has_next %}
      <a href="?page={{ stocks.next_page_number }}">Next</a>
    {% endif %}
  </span>

</div>

{% endif %}
{% endblock content %}