body { background-color: #353535; color: #e2e2e2; }

.navbar { height: 70px; }

.breadcrumbs { font-size: 12px; }

h1 { padding-bottom: 15px; }

.link-add { font-size: 15px; }

.table {
  font-size: 13px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #494949;
}

.table th {
  color: #e2e2e2;
}

.table tbody tr {
  background-color: #353535;
}

table tr th.align-right,
table tr td.align-right {
  text-align: right;
}

.table .small { font-size: 11px; }

table tfoot { background-color: #494949; }

table tfoot .pagination a { font-size: 13px; }

table tfoot .pagination input {
  font-size: 13px;
  width: 40px;
}

.indicator-gain { color: #32cd32; }

.indicator-loss { color: #ff0000; }

/* jquery-ui */

.ui-autocomplete-loading { background: url('../img/ui-anim_basic_16x16.gif') no-repeat 99% center }

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
}