body {
  background: url('/assets/img/background-100x100.png') left top repeat;
  color: #e1e1e1;
}

.navbar { height: 70px; }

.breadcrumbs { font-size: 12px; }

a { color: #0198e1; }

section .header {

  background-color: rgba(20, 20, 20, 0.7)
}

section .header .breadcrumbs {
  padding: 15px 15px 0px 15px;
}

section .header h1 {
  padding: 0px 15px 15px 15px;
  background: -webkit-linear-gradient(#eee, #888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .header .menu {
  height: 40px;
  line-height: 40px;
  background-color: #0198e1;
}

section .header .menu ul.left { float: left; }
section .header .menu ul.right { float: right; }

section .header .menu ul {
  margin: 0px 5px;
  padding: 0px;
  list-style-type: none;
}

section .header .menu ul li {
  display: block;
  float: left;
  line-height: 40px;
}

section .header .menu ul li a {
  display: block;
  padding: 0px 10px 0px 10px;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
}

section .header .menu ul li a:hover {
  background-color: #0071b6;
  text-decoration: none;
  -webkit-transition: background 200ms; /* property duration timing-function delay */
  -moz-transition: background 200ms;
  -o-transition: background 200ms;
  transition: background 200ms;
}

section .header .menu ul li.current a {
  background-color: #0071b6;
  font-weight: bold;
}

section .main {
  background-color: #f1f1f1;
  color: #222222;
}

.link-add { font-size: 15px; }

.table {
  font-size: 13px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #494949;
}

.table th {
  color: #e2e2e2;
}

.table tbody tr {
  background-color: #141414;
}

table tr th.align-right,
table tr td.align-right {
  text-align: right;
}

.table .small { font-size: 11px; }

table tfoot { background-color: #494949; }

table tfoot .pagination a { font-size: 13px; }

table tfoot .pagination input {
  font-size: 13px;
  width: 40px;
}

.indicator-gain { color: #32cd32; }

.indicator-loss { color: #ff0000; }

/* jquery-ui */

.ui-autocomplete-loading { background: url('../img/ui-anim_basic_16x16.gif') no-repeat 99% center }

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
}

footer {
  font-size: 11px;
}