body {
  background: url('/assets/img/background-light-310x310.png') left top repeat;
  color: #e1e1e1;
}

a { color: #0198e1; }

/********************************/
/* TABLES
/********************************/

header {
  background-color: rgba(0, 0, 0, 0.12);
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

header .header { height: 70px; }

header .header .title {
  float: left;
  color: #222222;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
}

header .header .utilities {
  float: right;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
}

header .utilities ul { list-style-type: none; }

header .utilities ul li {
  display: block;
  float: left;
}

header .menu-container {
  background-color: #0198e1;
  box-shadow: 0 1px 10px rgba(0,0,0,.4);
}

/* bootstrap override */
header .menu-container .navbar-inner {
  height: 41px;
  border: none;
  background: url('/assets/img/gradient-menu-1x41.gif') left top repeat-x;
  box-shadow: 0 1px 10px rgba(0,0,0,.4);
}

/* bootstrap override */
header .menu-container .navbar-inner li > a {
  padding: 0px 15px;
  height: 41px;
  line-height: 41px;
  text-shadow: none;
}

/* bootstrap override */
header .menu-container .navbar-inner li.active > a,
header .menu-container .navbar-inner li > a:hover,
header .menu-container .navbar-inner li.dropdown.open > .dropdown-toggle {
  color: #ffffff;
  background-color: #222222;
}

/* bootstrap override */
header .menu-container .navbar-inner li > a:hover {
  -moz-transition: all 200ms; /* FireFox */
  -webkit-transition: all 200ms; /* Safari / Chrome */
  -o-transition: all 200ms; /* Opera */
  transition: all 200ms; /* W3C */
}

/* bootstrap override */
header .menu-container .navbar-inner li > a b { vertical-align: text-top; }

header .breadcrumbs {
  padding: 8px 15px 8px 15px;
  color: #b8e4ff;
  font-weight: bold;
  font-size: 12px;
}

header .breadcrumbs a {
  color: #294468;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(170, 175, 182, 1.0);
}

header .page-title {
  padding: 8px 0px;
  color: #222222;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

header .page-title h1 {
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

header .page-title h1 small { color: #0198e1; }

/********************************/
/* BODY
/********************************/

.dashboard {
  color: #e6e8eb;
  background-color: #3b3d40;
  border-radius: 5px;
  font-weight: lighter;
}

.dashboard .main {
  margin: 0px;
  padding: 15px;
}

.dashboard .main h2 {
  margin: 0px;
  padding: 0px;
  font-size: 26px;
  font-weight: normal;
}

section.body { color: #222222; }

section.body .main {
  margin: 0px;
  padding: 15px;
}

section.body .main h2 {
  margin: 0px;
  padding: 0px;
  font-size: 26px;
  font-weight: normal;
}

/********************************/
/* WIDGETS
/********************************/

.widget {
  margin-bottom: 20px;
  border-radius: 5px;
  color: #333333;
}

.widget-simple {
  padding: 15px;
  background-color: #f4f4f5; /* f6f7ff */
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

.widget .widget-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}

.widget .widget-header h3,
.widget .widget-header h4 {
  margin: 0px;
  padding: 0px;
}

.widget .widget-body {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #ffffff;
}

.widget .widget-body form {
  margin: 0px;
  padding: 0px;
}

.widget div:last-child {
  padding-bottom: 0px;
}

.widget .widget-body ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.widget .widget-body ul li {
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #bbbbbb;
}

.widget .widget-body ul li:first-child {
  padding-top: 0px;
}

.widget .widget-body ul.dotted li {
  border-bottom: 1px dotted #bbbbbb;
}

.widget .widget-body ul li:last-child {
  padding-bottom: 5px;
  border-bottom: none;
}

.widget .widget-footer {
  padding-top: 15px;
  border-top: 1px solid #bbbbbb;
}

.widget .widget-body p:last-child { margin-bottom: 0px; }

.widget-simple.dark {
  color: #e6e8eb;
  background-color: #36383b;
  font-weight: lighter;
  border: 1px solid #323437;
}

.widget-simple.dark .widget-header {
  border-bottom: 1px solid #000000;
}

.widget-simple.dark .widget-body {
  border-top: 1px solid #616161;
}

.widget .widget-body form {
  margin: 0px;
  padding: 0px;
}

.widget .widget-body form legend {
  margin: 0px 0px 25px 0px;
  padding: 0px;
}

.widget .widget-body form li {
  margin: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.widget .widget-body form li.form-section {

}

.widget .widget-body form input {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}



/********************************/
/* TABLES
/********************************/

.table {
  font-size: 13px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.table thead th {
  color: #222222;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  border-top: 1px solid #a0c2e5;
  border-bottom: 1px solid #a0c2e5;
  background-color: #dce7f2;
}

.table tr th.align-right,
.table tr td.align-right {
  text-align: right;
}

.table tbody td {
  font-size: 12px;
  border-top: 1px solid #cccccc;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.table .small { font-size: 11px; }

.table tfoot { background-color: #494949; }

.table tfoot .pagination a { font-size: 13px; }

.table tfoot .pagination input {
  font-size: 13px;
  width: 40px;
}

.indicator-gain { color: #32cd32; }

.indicator-loss { color: #ff0000; }

/********************************/
/* JQUERY-UI CUSTOMIZATION
/********************************/

.ui-autocomplete-loading { background: url('../img/ui-anim_basic_16x16.gif') no-repeat 99% center }

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
}

footer {
  font-size: 11px;
}