body {
  background-color: #fbfbfb;
}

.navbar {
  height: 70px;
}

.breadcrumbs {
  font-size: 12px;
}

.link-add {
  font-size: 15px;
}

.table {
  font-size: 13px;
}

table th {
  background-color: #f1f1f1;
}

table tr th.align-right,
table tr td.align-right {
  text-align: right;
}

.table .small {
  font-size: 11px;
}

.indicator-gain {
  color: #32cd32;
}

.indicator-loss {
  color: #ff0000;
}