{% load endless %}

{% get_pages %}
<div class="pagination">
  <div class="pull-left">
    Displaying <strong>{{ pages.current_start_index }}</strong> to <strong>{{ pages.current_end_index }}</strong> of <strong>{{ pages.total_count }}</strong>
  </div>
  <div class="pull-right">
    {% if not pages.current.is_first %}
    <a href="{{ pages.1.path }}" rel="page" class="endless_page_link">&laquo; First</a> &nbsp;
    <a href="{{ pages.previous.path }}" rel="page" class="endless_page_link">&lsaquo; Prev</a> &nbsp;
    {% else %}
    &laquo; First &nbsp; &lsaquo; Prev &nbsp;
    {% endif %}
    Page <strong>{{ pages.current.number }}</strong> of <strong>{{ pages.last.number }}</strong> &nbsp;
{#      Page: <input type="text" value="{{ pages.current.number }}" /> of {{ pages.last.number }}#}
    {% if not pages.current.is_last %}
    <a href="{{ pages.next.path }}" rel="page" class="endless_page_link">Next &rsaquo;</a> &nbsp;
    <a href="{{ pages.last.path }}" rel="page" class="endless_page_link">Last &raquo;</a>
    {% else %}
    Next &rsaquo; &nbsp; Last &raquo;
    {% endif %}
  </div>
</div>