{% load base_extras %}

<ul class="nav">
  {% if user.is_authenticated %}
  <li class="{% navactive request "dashboard_index" %}"><a href="{% url "dashboard_index" %}">Dashboard</a></li>
  <li class="{% navactive request "portfolio_index holding_index transaction_index" %}"><a href="/portfolios">Portfolios</a></li>
  <li class="{% navactive request "transaction_global_index" %}"><a href="/transactions">Transactions</a></li>
  {% else %}
  <li class=""><a href="/">Home</a></li>
  {% endif %}
</ul>
{% if user.is_admin %}
<ul class="nav pull-right">
  <li class="dropdown {% navactive request "admin_home_index admin_stock_index admin_stock_edit admin_market_index" %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
    <ul class="dropdown-menu pull-right">
      <li><a role="menuitem" tabindex="-1" href="{% url 'portfolioapp.apps.admin.views.home_index' %}">Dashboard</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'portfolioapp.apps.admin.views.stock_index' %}">Stocks</a></li>
      <li><a href="{% url 'portfolioapp.apps.admin.views.market_index' %}">Markets</a></li>
    </ul>
  </li>
</ul>
{% endif %}