<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head id="portfolioapp" data-template-set="portfolioapp" profile="http://gmpg.org/xfn/11">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{% block browser_title %}Home{% endblock browser_title  %} - PortfolioApp</title>

  <link href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
  <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css" media="screen">
  <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
  <!--[if IE 7]>
  <link href="{{ STATIC_URL }}css/font-awesome-ie7.min.css" rel="stylesheet">
  <![endif]-->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
  <link rel="apple-touch-icon-precomposed" href="#">
  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="http://code.jquery.com/jquery-1.9.0.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>

<header class="top">
  <div class="header">
    <div class="container clearfix">
      <div class="title">
        <a href="/"><img src="{{ STATIC_URL }}img/portfolioapp-logo-270x57.png" width="270px" height="57px" /></a>
      </div>
      <div class="utilities">
        <ul class="nav nav-pills pull-right">
          {% if not user.is_authenticated and not 'django.contrib.auth.views.login' in request.view_name %}
          <li><a href="{% url 'profile_create' %}">Sign up</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a href="{% url 'profile_edit' %}">{{ user.get_full_name }}</a></li>
          <li><a href="{% url 'profile_signout' %}">Sign out</a></li>
          {% elif not 'django.contrib.auth.views.login' in request.view_name %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
            <div class="pull-right dropdown-menu login-dropdown widget-auth">
              <h3>Sign in below</h3>
              <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <ul>
                  <li><input type="text" id="username" name="{{ login_form.username.html_name }}" placeholder="email" class="input-xlarge"></li>
                  <li><input type="password" id="password" name="{{ login_form.password.html_name }}" placeholder="password" class="input-xlarge"></li>
                </ul>
                <input type="submit" value="SIGN IN" class="btn btn-large btn-block btn-custom" />
              </form>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div id="fixed-nav" class="menu-container">
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          {% include "common/main_navigation.html" %}
        </div>
      </div>
      <div class="breadcrumbs">
        <div class="container">
          {% block breadcrumbs %}{% endblock breadcrumbs %}&nbsp;
        </div>
      </div>
    </div>
  </div>
</header>
{% block page_title_base %}{% endblock page_title_base %}

{% if messages %}
<section class="messages container">
  {% for message in messages %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    This is a message {{ message }}
  </div>
  {% endfor %}
</section>
{% endif %}

{% block content_base %}{% endblock content_base %}

<footer>
  <div class="container">
    <div class="row">
      <div class="span16">
        PortfolioApp
      </div>
    </div>
  </div>
</footer>

{% block script %}{% endblock script %}
<script src="{{ STATIC_URL }}js/application.js" type="text/javascript"></script>

</body>
</html>