<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head id="portfolioapp" data-template-set="portfolioapp" profile="http://gmpg.org/xfn/11">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{% block title %}Home{% endblock %} - PortfolioApp</title>

  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" media="screen">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
  <link rel="apple-touch-icon-precomposed" href="#">
  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="">
  <meta property="og:type" content="article">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>