{% extends 'base.html' %}

{% block main_navigation %}
  {% include "common/navigation_main.html" %}
{% endblock main_navigation %}

{% block breadcrumbs_base %}
  <div class="breadcrumbs">
    <div class="container">
      {% block breadcrumbs %}{% endblock breadcrumbs %}
    </div>
  </div>
{% endblock breadcrumbs_base %}

{% block page_title_base %}
<header id="bottom">
  <div class="container">
    <div class="page-title">
      <h1>{% block page_title %}{% endblock page_title %}</h1>
      <p>{% block helper_message %}{% endblock helper_message %}</p>
    </div>
  </div>
</header>
{% endblock page_title_base %}

{% block content_base %}

{% if messages %}
<section class="messages container">
  {% for message in messages %}
  {% if message.tags == 'success' %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% elif message.tags == 'error' %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endif %}
  {% endfor %}
</section>
{% endif %}

{% block content_parent %}{% endblock content_parent %}

{% endblock content_base %}