{% extends "base_unauthenticated_profile.html" %}

{% block browser_title %}Sign in{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; Sign in{% endblock breadcrumbs %}

{% block content %}
<div class="auth-container">
  {% if form.errors %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Whoops!</strong> Your email address and password didn't match. Please try again.
  </div>
  {% endif %}

  <h1>PortfolioApp</h1>
  {% include "common/widget_login.html" %}
</div>
{% endblock content %}