{% extends "base_two_columns.html" %}

{% block title %}Transactions{% endblock title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; <a href="{% url 'portfolio_index' %}">Portfolios</a> &rarr; <a href="{% url 'holding_index' portfolio.id %}">{{ portfolio.name }}</a> &rarr; {{ holding.name }} ({{ holding.market }}:{{ holding.symbol }}){% endblock breadcrumbs %}

{% block content %}

<h1>Transactions</h1>

{% if transaction_list %}
<table class="table">
  <tr>
    <th>Date</th>
    <th>Quantity</th>
    <th>Amount</th>
  </tr>
  {% for transaction in transaction_list %}
  <tr>
    <td>{{ transaction.date_created }}</td>
    <td>{{ transaction.quantity }}</td>
    <td>{{ transaction.price }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>You currently have no transactions for this holding - <a href="#">go ahead and add some now!</a></p>
{% endif %}

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}