{% extends "base_two_columns.html" %}

{% block title %}Transactions{% endblock title %}

{% block breadcrumbs %}<a href="/">Home</a> &rarr; Transactions</a>{% endblock breadcrumbs %}

{% block content %}

<h1>Transactions</h1>

  {% if transaction_list %}
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Holding</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    {% for transaction in transaction_list %}
    <tr>
      <td>{{ transaction.date_created }}</td>
      <td>{{ transaction.holding.name }} ({{ transaction.holding.market }}:{{ transaction.holding.symbol }})</td>
      <td>{{ transaction.get_type_display }}</td>
      <td>{{ transaction.quantity|floatformat:"-5" }}</td>
      <td class="align-right">${{ transaction.price|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>You currently have no transactions.</p>
  {% endif %}

{% endblock content %}

{% block sidebar %}
Sidebar
{% endblock sidebar %}