{% extends 'base_app_two_columns.html' %}

{% load endless %}
{% load humanize %}

{% block browser_title %}Stocks{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Dashboard</a> &rarr; Stocks</a>{% endblock breadcrumbs %}

{% block page_title %}<i class="icon-list"></i> Stocks{% endblock page_title %}

{% block content %}

<form method="post" action="" class="form-inline">
  {% csrf_token %}
  <input type="text" id="tbSearch" name="search_term" class="twitter-typeahead" placeholder="stock name, symbol, or market" >
  <input type="submit" name="btnSearch" value="Search" class="btn">
  <input type="hidden" id="hidStockId" name="stock_id" value="">
</form>

<div id="paginate" class="endless_page_template">
  {% include page_template %}
</div>

{% endblock content %}

{% block sidebar %}

  <div class="widget widget-simple">
    <div class="widget-header">
      <h4>Best Performers</h4>
    </div>
    <div class="widget-body">
      <table class="table">
        <thead>
          <tr>
            <td>Stock</td>
            <td class="align-right">Yesterday</td>
            <td class="align-right">Today</td>
          </tr>
        </thead>
        <tr>
          <td><a href="#">BB:TSX</a></td>
          <td class="align-right">$14.93</td>
          <td class="align-right indicator-gain">$15.33 (+6.70%)</td>
        </tr>
        <tr>
          <td><a href="#">FLWS:NASDAQ</a></td>
          <td class="align-right">$39.23</td>
          <td class="align-right indicator-gain">$42.18 (+7.52%)</td>
        </tr>
      </table>
    </div>
  </div>

{% endblock sidebar %}

{% block script %}
  <script src="{{ STATIC_URL }}js/twitter-hogan/hogan-2.0.0.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/twitter-typeahead/typeahead.min.js" type="text/javascript"></script>

  {% verbatim %}
  <script type="text/javascript">
      $(document).ready(function() {
          $('.twitter-typeahead').typeahead({
              name: 'stocks',
              remote: '/api/markets/stocks2?q=%QUERY',
              valueKey: 'displayValue',
              template: '<p><strong>{{ name }}</strong> ({{ symbol }}:{{ acr }})<br /><small>Last price: ${{ last_price }}</small></p>',
              engine: Hogan,
              limit: 10,
              dataType: 'json'
          })
          .on('typeahead:selected', function(e, data) {
              $('#hidStockId').val(data['id']);
          })
          .on('typeahead:autocompleted', function(e, data) {
              alert('autocompleted');
          });

          $('#tbSearch').focus();
      });
  </script>
  {% endverbatim %}

  {% include "common/list_pagination_script.html" %}
{% endblock script %}