{% extends "base_app_two_columns.html" %}

{% load humanize %}

{% block browser_title %}Stocks{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Dashboard</a> &rarr; <a href="{% url 'markets_stocks_index' %}">Stocks</a> &rarr; {{ stock.name }} ({{ stock.symbol }}:{{ stock.market.acr }}){% endblock breadcrumbs %}

{% block page_title %}<i class="icon-book"></i> Stocks{% endblock page_title %}

{% block content %}

  <div class="stock-header clearfix">
    <div style="float: left;">
      <div class="stock-header-row-1"><span class="stock-name">{{ stock.name }}</span> <span class="stock-symbol">({{ stock.symbol }}:{{ stock.market.acr }})</span></div>
      <div class="stock-header-row-2"><span class="stock-current-price">$15.43</span> <span class="stock-currency">CAD</span> <span class="stock-change indicator-loss"><span class="stock-change-price">-$0.1200</span> <span class="stock-change-percent">(-0.77%)</span></span> <span class="stock-change-time">Last: May 24th, 2013 12:34 PDT</span></div>
    </div>
    <div style="float: right;">
      <a href="{% url 'markets_stocks_historical_prices_index' stock.id %}">View Historical Prices</a>
    </div>
  </div>

  <div id="stock-chart"></div>

{% endblock content %}

{% block sidebar %}

  <div class="widget widget-stats">
    <div class="widget-header">
      <h4><i class="icon-info-sign"></i> Key Statistics</h4>
    </div>
    <div class="widget-body">
      <div class="item-row">
        <div class="item-label">
          Previous Close
        </div>
        <div class="item-value">
          ${{ price_previous_day|floatformat:2 }}
        </div>
      </div>
      <div class="item-row">
        <div class="item-label">
          52 Week Range
        </div>
        <div class="item-value">
          ${{ price_52_week_low }} - ${{ price_52_week_high }}
        </div>
      </div>
      <div class="item-row">
        <div class="item-label">
          1 Year Return
        </div>
        <div class="item-value">
          {{ one_year_return_percent|intcomma }}%
        </div>
      </div>
      <div class="item-row">
        <div class="item-label">
          Shares Outstanding
        </div>
        <div class="item-value">
          {{ stock.clean_outstanding_shares|intcomma }}
        </div>
      </div>
      <div class="item-row">
        <div class="item-label">
          Market Cap
        </div>
        <div class="item-value">
          ${{ stock.clean_market_cap|intcomma }}
        </div>
      </div>
      <div class="item-row">
        <div class="item-label">
          P/E
        </div>
        <div class="item-value">
          {{ stock.pe|floatformat:2 }}
        </div>
      </div>
      <div class="item-row">
        <div class="item-label">
          EPS
        </div>
        <div class="item-value">
          {{ stock.eps|floatformat:2 }}
        </div>
      </div>

    </div>
  </div>

{% endblock sidebar %}

{% block script %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/highstock/highstock.js"></script>
  <script type="text/javascript">

      $(document).ready(function() {

          $('#stock-chart').highcharts('StockChart', {
              chart: {

              },
              credits: {
                  enabled: false
              },
              scrollBar: {
                  enabled: false
              },
              navigator: {
                  enabled: false
              },
              rangeSelector: {
                  selected: 4
              },
              xAxis: {
                  ordinal: false
              },
              series: [{
                  name: '{{ stock.symbol }}:{{ stock.market.acr }}',
                  data: {{ stock_chart }},
                  tooltip: {
                      valueDecimals: 2
                  },
                  type: 'area',
                  fillColor : {
                      linearGradient : {
                          x1: 0,
                          y1: 0,
                          x2: 0,
                          y2: 1
                      },
                      stops : [[0, Highcharts.getOptions().colors[0]], [1, 'rgba(0,0,0,0)']]
                  }
              }]
          });

      });

  </script>

{% endblock script %}