{% extends "base_app_two_columns.html" %}

{% load humanize %}

{% block browser_title %}Stocks{% endblock browser_title %}

{% block breadcrumbs %}<a href="/">Dashboard</a> &rarr; <a href="{% url 'markets_stocks_index' %}">Stocks</a> &rarr; {{ stock.name }} ({{ stock.symbol }}:{{ stock.market.acr }}){% endblock breadcrumbs %}

{% block page_title %}<i class="icon-book"></i> Stocks{% endblock page_title %}

{% block content %}

  <div class="stock-header clearfix">
    <div style="float: left;">
      <span class="stock-name">{{ stock.name }}</span> <span class="stock-symbol">({{ stock.symbol }}:{{ stock.market.acr }})</span> <span class="stock-current-price">$15.43</span> <span class="stock-currency">CAD</span> <span class="stock-something">-$0.1200 (-0.77%)</span>
    </div>
    <div style="float: right;">
      <p><a href="{% url 'markets_stocks_historical_prices_index' stock.id %}">View Historical Prices</a></p>
    </div>
  </div>

  <h4>Fundamentals</h4>

{% endblock content %}

{% block sidebar %}

  <div class="widget widget-simple">
    <div class="widget-header">
      <h3>Holding Snapshot</h3>
    </div>
    <div class="widget-body">
      <ul>
        <li>Shares: 100.0000</li>
        <li>Book Value: $1000.22</li>
        <li>Last Price: $14.32</li>
        <li>Market Value: $14.32</li>
      </ul>
    </div>
  </div>

  <div class="widget widget-simple">
    <div class="widget-header">
      <h3>Key Statistics</h3>
    </div>
    <div class="widget-body">
      <ul>
        <li>Item 1: 10</li>
        <li>Item 2: 20</li>
        <li>Item 3: 30</li>
        <li>Item 4: 40</li>
      </ul>
    </div>
  </div>

{% endblock sidebar %}